@page "/"
@page "/catalog"

<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="assets/images/main_banner_text.png" />
    </div>
</section>

<section class="esh-catalog-filters">
    <div class="container">
        <div class="alert alert-warning esh-catalog-alert" hidden="@(!errorReceived)" role="alert">
            Error requesting catalog products, please try later on
        </div>
        <label class="esh-catalog-label" data-title="brand">
            <select class="esh-catalog-filter" @onchange="OnBrandFilterChanged"> @*@bind="brandSelected"*@
                @foreach (var brand in brands)
                {
                    <option value="@brand.Id" selected="@brand.Selected">@brand.Brand</option>
                }
            </select>
        </label>
        <label class="esh-catalog-label" data-title="type">
            <select class="esh-catalog-filter" @onchange="OnTypeFilterChanged"> @*@bind="typeSelected"*@
                @foreach (var type in types)
                {
                    <option value="@type.Id" selected="@type.Selected">@type.Type</option>
                }
            </select>
        </label>
        <img class="esh-catalog-send" @onclick="OnFilterApplied" src="assets/images/arrow-right.svg" />
    </div>
</section>

<div class="container">
    <br />
    @if (catalog?.Data.Count > 0)
    {
        <div>
            <Pager Model="paginationInfo" Changed="OnPageChanged" />

            <div class="esh-catalog-items row">
                @foreach (var item in catalog?.Data)
                {
                    <div class="esh-catalog-item col-md-4">
                        <img class="esh-catalog-thumbnail" src="@item.PictureUri" />
                        <button class="esh-catalog-button @(!authenticated ? "is-disabled" : "")" @onclick="() => AddToCart(item)">
                            [ ADD TO CART ]
                        </button>

                        <div class="esh-catalog-name">
                            <span>@item.Name</span>
                        </div>
                        <div class="esh-catalog-price">
                            <span>&nbsp;@item.Price</span>
                        </div>
                    </div>
                }
            </div>

            <Pager Model="paginationInfo" Changed="OnPageChanged" />
        </div>
    }
    else if (catalog?.Data.Count == 0)
    {
        <div class="esh-catalog-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>
