@page "/campaigns/{id:int}"

<section class="esh-campaigns-hero">
    <div class="container">
        <img class="esh-campaigns-title" src="assets/images/main_banner_text.png" />
    </div>
</section>

<Header Model="header" />

<div class="container">
    <div class="esh-campaign_detail">
        <div class="card esh-campaigns-items">
            <img class="card-img-top" src="@campaign.PictureUri" alt="@campaign.Name">
            <div class="card-body">
                <h4 class="card-title">@campaign.Name</h4>
                <p class="card-text">@campaign.Description</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    From @campaign.From.ToString("MMMM dd, yyyy") until @campaign.To.ToString("MMMM dd, yyyy")
                </small>
            </div>
        </div>
    </div>
</div>
